{%  extends 'base.html.twig' %}

{% block metaTitle %}
    Les tags du journal
{% endblock metaTitle %}

{% block main %}
    <div class="container">
        {% for tag in listTag %}
            <div class="row">
                <h1>
                    <a href="{{ path('tagShow', {'id' : tag.id}) }}">{{ tag.title }}</a>
                </h1>
                <h2 style="color : {{ tag.color }}">
                    Couleur du tag :  {{ colors[tag.color]  }}
                </h2>
            </div>
        {% endfor %}
    </div>

{% endblock main %}

{% block footer %}
    <p>
        Vous avez lu les étiquettes de la mort qui tue du journal de la Piscine
    </p>
{% endblock footer %}